/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif; /* Changed from Roboto to Open Sans */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e0c7c7;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

header nav ul li a:hover {
    color: #b80c0c; /* Color change on hover */
}

footer {
    background-color: #b5d30c;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Home Page Specific Styles */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    ;
}

/* Products Page Specific Styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    
    
}

.grid-container article {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Contact Page Specific Styles */
section {
    padding: 20px;
    text-align: center;
}

section article {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}